<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <% if (user) { %>
    <h1>Welcome back <%= user %></h1>
    <a href="/logout">Log out</a>
    <% } else { %>
    <h1>Log In</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        required="true"
        placeholder="username"
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        required="true"
        placeholder="password"
      />
      <button>Log In</button>
      <div>
        <a href="/signup">Register</a>
      </div>
    </form>
    <% } %>
  </body>
</html>
